.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-left {
    display: flex;
    align-items: center;
    margin-right: 12px;
  }

  &__logo {
    display: none;
  }

  @media screen and (min-width: 767px) {
    &__logo {
      display: block;
    }
  }
}
