.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.2);

  &.show {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;

    @media screen and (max-width: 500px) {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  &-body {
    background-color: white;
    width: 90%;
    max-height: 100%;
    height: auto;
    overflow: hidden;
    overflow-y: auto;
    padding: 20px;
    border-radius: 12px;

    &.modal-lg {
      max-width: 620px;
    }
    &.modal-wide {
      max-width: 70%;

      @media screen and (max-width: 500px) {
        max-width: 80%;
      }
    }

    &__title {
      @include text-lg;
    }

    &__content {
      display: flex;
      justify-content: center;
      flex-direction: column;
      height: 100%;
      margin: 0 auto;

      figure {
        // align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        figcaption {
          font-size: 1.4rem;
        }
      }

      img {
        height: auto;
        max-height: 70vh;
        object-fit: contain;
      }
    }

    &__actions {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: 12px;

      .delete-icon {
        color: red;
        font-size: 2rem;
        width: 42px;
        display: flex;
        height: 42px;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 3px 3px 4px #00000029;
      }

      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }
  }
}

// .modal.show {
//   display: block;
// }
